@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Mothusi Road<br />
    Welkom, 9460<br />
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">SOD316C@gmail.com</a><br />
    
</address>