@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p class="lead">In the sessions to follow we will learn to use Firebase as a DataStore using MVC.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Create and connect with a Firebase DataStore by means of ASP.NET MVC Web Applications. 
            Create, read and update information using the MVC concept. 
            
        </p>
        <p>Asynchronous coding and send a mail using ASP.NET MVC Web Application.</p>
    </div>
  
</div>